

<html>
  <head>
    <title>About - FM ShortURL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  </head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav">
  <a href="/">Home</a>
  <a href="/contact">Contact</a>
  <a href="/about" class="active">About</a>
 
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>



   <body>
       <div class="container">
        <h1 class="logo">About</h1>
        <br>
        <strong><nav>

		
		<p>This is a page created in Flask as part of a hobby-project in learning python and Flask.</p>	
			
		
		
		
		
        </div></strong></nav>
   </body>


        <div class="footer">
        <p>Created by FM. Done in Flask</p>
        </div>


</html>




